div {
    width: 100vw;
    height: 10vh;
    background: #519872;
    display: flex;
    align-items: center;
}

div img {
    width: 5vw;
    padding: 30px;
}

.logo {
    font-size: 3rem;
    color: white;
}